@media only screen and (max-width: 600px) {
     
    .aboutColumns{
        columns: unset !important;
    }
    .formMobile{
        padding: 20px 20px !important;
    }
    .formxx{
        padding-left: 20px !important;
    }
    .formxcdd{
        display: block !important;
    }.formvfdf{
        margin-top: 30px !important;
    }
    }