.title1{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 12px;
}

.subtitle1{
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
}

.orangetitle{
    
    background: #FD661F;
    width: 150px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    border-radius: 8px;
    font-weight: 500;
    margin: auto;

}
.orangespan{
    
    color: #07A169;
    font-size: 29px;
    font-weight: 600;

}


@media only screen and (max-width: 600px) {
.mainhero{
    display: block !important;
    padding: 32px 35px !important;
}

.title1{
    text-align: center;
    font-size: 30px !important;
    font-weight: 600;
    margin-bottom: 12px;
}

.subtitle1{
    text-align: center;
    width: 80% !important;
    margin: auto;
    margin-bottom: 30px;
}

.tabActive{
    background: #07A169;
    color: #fff;
    padding: 10px 20px !important;
    border-radius: 8px;
    border: 1px solid #07A169;
    margin:0 10px;
    font-size: 10px !important;
  }
  .tabDeactive{
    background: #fff;
    color: #818C96;
    padding: 10px 20px !important;
    border-radius: 8px;
    border: 1px solid #818C96;
    margin:0 10px;
    font-size: 10px !important;
  }

  .universection{
    padding:30px !important;
  }
}