
@media only screen and (max-width: 600px) {
.breadcrumpsection{
    padding: 30px 20px !important;
}
.newsBread{
    padding: 60px 50px !important;
}
.newstitle{
    font-weight: 600;
    font-size: 24px !important;
    margin: 20px 0px 7px !important;
}
}