@media only screen and (max-width: 600px) {
    .breadcrumpsection{
            padding: 50px 100px !important;
    }
    .xxx1{
        display: block !important;
    }
    .xxx2{
        margin-left: 0 !important;
    }
    .xxx3{
        width: 45% !important;
        margin: 5px !important
    }
    .xxx5{
        padding: 0 10px !important;
    }
    .xxx9{
        display: block !important;
    }
    .yyy1{
        width: 100% !important;
        margin:10px 0px !important;
    }
    }